html, body {
    height: 100%;
    color:white;
    font-family: Arial-Black;
}

html {
    display: table;
    margin: auto;
    background: url("http://www.sunandmooncraftkits.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/l/black-scrabble-tiles-100-pack.jpg")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: table-cell;


}

img {
  width:2em;
}

textarea {
  font-size: 15px;
}

span {
  color: #D32200;
}
