// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: auto;
    border: 2px solid black;
    cursor: pointer;
    font-family: roboto;
}

#buttons {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

#buttons span {
  font-size: 20px;
  color: #d3222a;
  background-color: white;
  border: solid;
  border-color: #d3222a;
  padding: 1px 45px 1px 45px;
  border-width: 1px;
}

#buttons #articlebutton {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#buttons #articlebutton:hover {
  text-decoration: underline;
}

#buttons #videobutton {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#buttons #videobutton:hover {
  text-decoration: underline;
}

.left {
  float: left;
  padding: 0px 10px 10px 10px;
}

.right {
  float: right;
  padding-right: 10px;
}

.child {
  padding-top:25px;
  padding-bottom:25px;
  border-bottom: 1px solid;
  border-color: gray;
  background-size: 120%;
  background-repeat: no-repeat;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all 0.2s;
}

.child:hover {
    background-size: 100%;
}

.gray {
  color: gray;
}

.clip {
  width: 20em;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.ellipsis {
  width: 22em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.seemore {
  margin-left: 40px;
  margin-top: 15px;
  color:gray;
  font-weight:bold;
  font-size: 15px;
}

@media(min-width:450px) {
  body {
    width: 450px;
  }
}